/.autotools
/.cproject
/.project
/aclocal.m4
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/Makefile
/Makefile.in
/missing
/compile
/ltmain.sh
/mpv-shot0001.jpg
